.condition-2 {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.less-than {
    width: 60px;
}
.less-than p {
    text-align: center;
    margin-top: 70px;
}
.built-over-unlock p{
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
}